@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	* {
		@apply ease-in-out duration-150;
	}
	.main {
		@apply relative grid grid-cols-1 md:grid-cols-2-min grid-rows-2-min
        bg-zinc-300 dark:bg-zinc-900;
	}

	.header {
		@apply col-start-1 col-end-3 h-header-screen-60 2xl:h-header-screen-80 shadow-lg z-[1]
        bg-zinc-200 dark:bg-zinc-800;
	}

	.navbar {
		@apply flex items-center justify-between py-3 pl-12 pr-16 h-full;
	}
	.navbar-icon {
		@apply flex items-center gap-3 text-xl font-light
		text-gray-700 dark:text-gray-200;
	}
	.navbar-icon span {
		@apply hidden sm:block;
	}
	.navbar-buttons {
		@apply flex gap-2;
	}
	.navbar-link {
		@apply flex items-center rounded-full cursor-pointer p-3 text-lg
		text-zinc-500 dark:text-zinc-300 bg-zinc-300 hover:bg-zinc-400 hover:bg-opacity-60 dark:bg-zinc-700 dark:hover:bg-zinc-600;
	}
	.navbar-profile {
		@apply rounded-full w-[42px] cursor-pointer hover:brightness-110;
	}

	.sidebar {
		@apply hidden md:flex md:flex-col md:justify-between md:w-20 xl:w-64 2xl:w-72 h-screen-header-60 2xl:h-screen-header-80
		bg-transparent;
	}
	.sidebar-list {
		@apply flex flex-col gap-4 xl:gap-2 py-5 md:px-5 xl:px-10 h-fit;
	}
	.sidebar-list:nth-of-type(1) {
		@apply overflow-y-auto;
	}
	.sidebar-list li > span {
		@apply hidden xl:block text-xs my-2
        text-zinc-600 dark:text-zinc-500 cursor-default;
	}
	.sidebar-link {
		@apply leading-none flex items-center justify-center xl:justify-start xl:px-5 rounded-lg cursor-pointer w-full h-9
		hover:bg-zinc-400 hover:bg-opacity-50 dark:hover:bg-zinc-700 text-gray-600 hover:text-zinc-800 dark:text-zinc-400 dark:hover:text-zinc-300;
	}
	.sidebar-link > svg {
		@apply text-base;
	}
	.sidebar-link > span {
		@apply hidden xl:block ml-5 text-xs;
	}

	.page-container {
		@apply overflow-y-auto grid auto-rows-min justify-items-center gap-8 md:px-20 py-8 h-screen-header-60 2xl:h-screen-header-80;
	}
	.page-title {
		@apply font-bold text-4xl my-4
        text-zinc-700 dark:text-zinc-300;
	}

	.post {
		@apply w-full md:max-w-[680px] md:rounded-xl overflow-hidden shadow-md
		bg-zinc-200 dark:bg-zinc-800;
	}
	.post-header {
		@apply flex gap-3 px-4 pt-4 pb-2;
	}
	.post-header img {
		@apply rounded-full w-10 h-10;
	}
	.post-header p {
		@apply flex flex-col gap-[6px] w-full py-[2px];
	}
	.post-header p span:nth-child(1) {
		@apply font-bold text-sm leading-none
		text-zinc-600 dark:text-zinc-300;
	}
	.post-header p span:nth-child(2) {
		@apply text-xs leading-none
		text-zinc-500	dark:text-zinc-400;
	}
	.post-buttons {
		@apply flex gap-2 items-center;
	}
	.post-buttons a,
	.post-buttons button {
		@apply flex items-center justify-center w-9 h-9 rounded-full text-lg
		text-zinc-500 hover:bg-zinc-300 dark:text-zinc-400 dark:hover:bg-zinc-700;
	}
	.post-title {
		@apply px-4 pb-3 text-sm leading-[1.15rem] whitespace-pre-wrap break-words
		text-zinc-800 dark:text-zinc-300;
	}
	.post-title-bg {
		@apply relative w-full aspect-post-xl;
	}
	.post-title-bg img {
		@apply w-full h-full;
	}
	.post-title-bg span {
		@apply flex absolute items-center justify-center h-full w-full font-bold text-xl sm:text-3xl px-10 text-center top-0 whitespace-pre-wrap break-all;
	}
	.post-image {
		@apply flex justify-center w-full
		dark:bg-[#1c1a22];
	}
	.post-image img {
		@apply min-h-full max-h-[625px];
	}
	.post-interaction {
		@apply flex px-4 py-[5px] gap-1 border-t
		border-zinc-300 dark:border-zinc-700;
	}
	.post-interaction button {
		@apply flex justify-center items-center flex-grow h-10 gap-[6px] rounded-lg active:scale-95
		text-zinc-600 dark:text-zinc-400 hover:bg-zinc-300 dark:hover:bg-zinc-700;
	}
	.post-interaction span {
		@apply font-bold text-sm;
	}
	.post-interaction button:nth-child(1) svg {
		@apply text-[24px] text-zinc-500;
	}
	.post-interaction button:nth-child(1) svg.liked {
		@apply text-blue-600;
	}
	.post-interaction button:nth-child(2) svg {
		@apply w-7 text-[19px];
	}
	.post-interaction button:nth-child(3) svg {
		@apply w-7 text-[24px];
	}

	.post-form {
		@apply flex flex-col w-full md:max-w-[500px] md:h-post-form-60 md:min-h-[428px] md:rounded-xl shadow-md
		bg-zinc-200 dark:bg-zinc-800;
	}
	.post-form-header {
		@apply w-full flex items-center justify-center relative border-b-[1px] p-4
		border-zinc-300 dark:border-zinc-700;
	}
	.post-form-header h1 {
		@apply font-bold text-xl
		text-zinc-600 dark:text-zinc-300;
	}
	.post-form-header a {
		@apply absolute flex items-center justify-center right-4 w-9 h-9 rounded-full text-base font-bold leading-none cursor-pointer
		bg-zinc-300 hover:bg-zinc-400 hover:bg-opacity-50 dark:bg-zinc-700 dark:hover:bg-zinc-600 text-zinc-600 dark:text-zinc-400;
	}
	.post-form-profiler {
		@apply flex gap-3 p-4;
	}
	.post-form-profiler img {
		@apply rounded-full w-10 h-10;
	}
	.post-form-profiler p {
		@apply flex flex-col gap-[6px] w-full py-[2px];
	}
	.post-form-profiler p span:nth-child(1) {
		@apply font-bold text-sm leading-none
		text-zinc-600 dark:text-zinc-300;
	}
	.post-form-profiler p span:nth-child(2) {
		@apply text-[11px] leading-none w-fit px-2 py-1 rounded-md font-semibold
		text-zinc-600 dark:text-zinc-300 bg-zinc-300 dark:bg-zinc-700;
	}
	.post-form-fields {
		@apply flex-grow flex flex-col;
	}
	.post-form-fields > div:nth-child(1) {
		@apply h-full md:max-h-[500px] flex flex-col flex-grow overflow-y-auto;
	}
	.post-form-title {
		@apply w-full flex-grow bg-transparent resize-none px-4 py-1 text-2xl border-none outline-none min-h-[120px]
		text-zinc-600 dark:text-zinc-300 placeholder-zinc-500 whitespace-pre-wrap;
	}
	.post-form-backgrounds {
		@apply flex gap-2 md:gap-3 justify-center mt-4;
	}
	.post-form-backgrounds label {
		@apply relative cursor-pointer;
	}
	.post-form-backgrounds input {
		@apply absolute h-0 w-0 opacity-0 invisible;
	}
	.post-form-backgrounds input:checked + * {
		@apply outline-violet-600 dark:outline-violet-700 outline outline-2 outline-offset-2 opacity-100;
	}
	.post-form-backgrounds img {
		@apply h-8 md:h-10 rounded-md md:rounded-xl duration-75 aspect-square;
	}
	.post-form-backgrounds span {
		@apply flex justify-center items-center h-8 md:h-10 w-8 md:w-10 border-none outline-none rounded-md md:rounded-xl
		bg-zinc-900 text-zinc-400;
	}
	.post-form-image {
		@apply relative border p-2 rounded-lg mx-4 mt-4 cursor-pointer 
		border-zinc-400 dark:border-zinc-600 border-opacity-60 dark:border-opacity-60
		text-zinc-700 dark:text-zinc-400
	}
	.post-form-image input {
		@apply absolute -z-10 invisible;
	}
	.post-form-image > div {
		@apply flex flex-col rounded-md min-h-[170px] items-center justify-center 
		bg-zinc-300 dark:bg-zinc-700 
		bg-opacity-60 dark:bg-opacity-60 hover:bg-opacity-100 dark:hover:bg-opacity-100
	}
	.post-form-image img {
		@apply rounded-md
	}
	.post-form-image button {
		@apply absolute items-center justify-center top-4 right-4 w-8 h-8 rounded-full text-sm font-bold leading-none cursor-pointer shadow-md
		bg-zinc-200 hover:bg-zinc-400 border-zinc-400
		dark:bg-zinc-800 dark:hover:bg-zinc-600 dark:border-zinc-600 border
		text-zinc-700 dark:text-zinc-300;
	}
	.post-form-submit-button {
		@apply box-border rounded-lg h-10 m-4 w-[-moz-available] font-semibold text-[15px]
		text-gray-200 dark:text-gray-300
		bg-violet-600 dark:bg-violet-800 
		enabled:hover:bg-violet-600 enabled:dark:hover:bg-violet-700 enabled:cursor-pointer
		disabled:bg-zinc-300 disabled:dark:bg-zinc-700 disabled:text-gray-600 disabled:opacity-60;
	}

	.main div:last-of-type > div > div {
		@apply bg-zinc-200 dark:bg-zinc-800 text-zinc-700 dark:text-zinc-300;
	}
	.toast {
		@apply flex flex-col gap-3 items-center;
	}
	.toast-buttons {
		@apply flex gap-3;
	}
	.toast-buttons button {
		@apply w-full px-3 py-2 rounded-md text-xs
		dark:text-zinc-300;
	}
	.toast-buttons .button-primary {
		@apply bg-violet-600 dark:bg-violet-800 hover:bg-violet-600 dark:hover:bg-violet-700 text-gray-200 dark:text-gray-300;
	}
	.toast-buttons .button-secondary {
		@apply text-zinc-600 dark:text-zinc-400 bg-zinc-300 dark:bg-zinc-700;
	}
}
